<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLInjection</title>
</head>

<body>
    <form method="POST" action="result.ejs">
        <p>Id:<input type="text" name="id"></p>
        <p>Password:<input type="text" name="password"></p>
        <button type="submit">ログイン</button>
    </form>
    <p>message:<%= message%>%></p>
</body>

</html>