<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLInjection</title>
</head>

<body>
    <p>Id:<%=id %> Password:<%=password %>
    </p>
    <p>Id:<%=message %>
    </p>
    <a href="/">index</a>
</body>

</html>